body {
  background: url("./tile_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.display {
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
