body {
  background-color: rgb(155, 255, 130);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.display {
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
